# All files require approval from a code owner
* @led0nk @JeremyTheocharis

# Compliance & legal files require CTO approval
/LICENSE @JeremyTheocharis
/NOTICE @JeremyTheocharis
/CONTRIBUTOR_LICENSE_AGREEMENT_*.md @JeremyTheocharis
**/NOTICES @JeremyTheocharis

# Dependency management requires CTO approval
/go.mod @JeremyTheocharis
/go.sum @JeremyTheocharis

# Governance requires CTO approval
/CODEOWNERS @JeremyTheocharis
