---
name: promote

on:
  push:
    tags:
      - v*

jobs:
  staging:
    runs-on: ubuntu-20.04
    steps:
      - name: Get tag
        uses: jungwinter/split@v1
        id: tag
        with:
          msg: ${{ github.ref }}
          seperator: /
      - name: Promote ${{ steps.tag.outputs._2 }} to staging
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.GH_TOKEN }}
          event-type: release
          client-payload: '{"environment": "staging", "ref": "${{ steps.tag.outputs._2 }}"}'
